body {
  padding: 50px;
  font: 14px "Georgia", Helvetica, Arial, sans-serif;
}

a {
  color: hsl(33, 63%, 64%);
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: rgb(187, 92, 111);
}
	
li {
  list-style: none;
}


